@using System.Globalization
@model FinFlow.Models.IncomeModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit Income</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group my-3">
                <label asp-for="incCategoryID" class="control-label"></label>
                <select asp-for="incCategoryID" class="form-control">
                    @foreach (var item in ViewBag.Categories as List<IncomeCategoryModel>)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="incCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Amount" class="control-label"></label>
                @{
                    CultureInfo culture = new CultureInfo("en-MW");
                    var numberFormat = (NumberFormatInfo)culture.NumberFormat.Clone();
                    numberFormat.CurrencySymbol = ""; // Remove the currency symbol
                    string formatted = Model.Amount.ToString("C", numberFormat).Trim();
                }
                <input asp-for="Amount" class="form-control" value="@formatted" />

                @* <input asp-for="Amount" class="form-control" /> *@
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
