@model FinFlow.Models.ItemsModel

@{
    ViewData["Title"] = "Create Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Create</h1> *@

<h4>Create an Item</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter the Item Name." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="SelectedCategoryId" class="control-label">Select Category</label>
                <select asp-for="SelectedCategoryId" class="form-control">
                    <option value="">Please select an Item Category.</option>
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>

                @* <input asp-for="Measurement" class="form-control" /> *@
                <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Measurement" class="control-label"></label>
                <input asp-for="Measurement" placeholder="Enter the item measurement." class="form-control" />
                <span asp-validation-for="Measurement" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <div class="row">
                    <div class="col-1">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div class="col-2">
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
